
@media all and (min-width: 470px) and (max-width: 990px){
    #Bg-bitch-img{
        height: 550px;
        background-size: 100% 550px;
    }
    form{
        width: 100%;
        float: left;
        margin-left: 30px;
        height: auto;
    }
    #search-box{
        height: 450px;
        width: 90%;
        padding-top:15px;
    }
    #input-section{
        display: block;
    }
    #row4-help>h1{
        font-size: 18px;
    }
    #select-Cont, .date{
        height: 55px;
        width: 90%;
    }
    #travelers{
        width: 85%;
    }
    #travel-category{
        max-width: 96%;
    }
    #travel-category>ul{
        max-width: 83%;
        justify-content: space-between;
    }
    #checkbox{
        font-size: 13px;
    }
    #search-btn>input{
        width: 17%;
        font-size: 14px;
        min-height: 40px;
    }
    #row3-offers>h2{
        font-size: 16px;
    }
    #row4-deals{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows:repeat(2,auto);
        gap: 35px;
        margin-top:30px;
    }
    #row4-deals>div:nth-child(2){
        width: 50%;
        margin: auto;
    }
    .deal-text-wrapp{
        bottom: 27px;
        left: 10px;
        white-space: nowrap;
        overflow: hidden;
        font-size: 14px;
    }
    #tips-card{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 250px);
        gap: 35px;
    }
    .select-btn>span{
        font-size: 13px;
    }
    #section-check{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 48px);
        gap: 10px;
        margin: auto;
    }
    #row8-dest-box>h1{
        font-size: 16px;
    }

}


@media all and (min-width: 300px) and (max-width: 469px){
    #Bg-bitch-img{
        height: 550px;
        background-size: 100% 550px;
    }
    form{
        width: 100%;
        float: left;
        margin-left: 30px;
        height: auto;
    }
    #search-box{
        height: 450px;
        width: 90%;
        padding-top:15px;
    }
    #input-section{
        display: block;
    }
    #row4-help>h1{
        font-size: 15px;
    }
    #select-Cont, .date{
        height: 55px;
        width: 90%;
    }
    #travelers{
        width: 83%;
    }
    #travel-category{
        max-width: 95%;
    }
    #travel-category>ul{
        max-width: 80%;
        justify-content: space-between;
    }
    #travel-category>ul>li>a>span{
        font-size: 10px;
    }
    #checkbox{
        font-size: 11px;
    }
    #search-btn>input{
        width: 17%;
        font-size: 12px;
        min-height: 35px;
    }
    #row3-offers>h2{
        font-size: 14px;
    }
    #row4-deals{
        width: 90%;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows:repeat(2,auto);
        gap: 35px;
        margin-top:30px;

    }
    #row4-deals>div:nth-child(2){
        width: 50%;
        margin: auto;
    }
    .deal-text-wrapp{
        bottom: 27px;
        left: 10px;
        white-space: nowrap;
        overflow: hidden;
        font-size: 14px;
    }
    #tips-card{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 250px);
        gap: 35px;
    }
    .select-btn>span{
        font-size: 13px;
    }
    #section-check{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 48px);
        gap: 10px;
    }
    #row8-dest-box>h1{
        font-size: 18px;
    }

}

@media all and (min-width: 580px) and (max-width: 990px){
    #offer-card{
        width: 90%;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4,auto);
        gap: 0;
    }
    .text-wrapp{
        left: 8px;
        top: 270px;
    }

    #app-info>h2{
        font-size: 17px;
    }
    #scanner-code{
        width: 25%;
    }
    #app-info>ul>li, #scanner-code>p{
        font-size: 10px;
    }
    #get-app-form>h3{
        font-size: 14px;
        line-height: 18px;
    }
    #get-app-form>div{
        width: 90%;
        align-items: center;
    }
    #country-codes, #mob-num{
        width: 25%;
        height: 30px;
        padding: 0;
        font-size: 10px;
    }
    #app-btn{
        font-size: 10px;
        height: 30px;
        width: 25%;
        padding: 0;
    }
    #row5-travel-tips>h1{
        font-size: 18px;
    }
}

@media all and (min-width: 300px) and (max-width: 579px){
    #offer-card{
        width: 90%;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4,auto);
        gap: 0;
    }
    .text-wrapp{
        left: 8px;
        top: 180px;
    }
    .text-wrapp>h3{
        font-size: 15px;
    }
    .text-wrapp>p{
        font-size: 12px;
    }
    #row2-info{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3, auto);
        gap: 35px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    #help-cart{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, auto);
    }
    #app-info>h2{
        font-size: 15px;
    }
    #row6-app-scanner{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2, 350px);
    }
    #row6-app-scanner>div>img{
        width: 100%;
        object-fit: cover;
    }
    #row3-offers>h2{
        font-size: 14px;
    }
    #scanner-code{
        width: 25%;
    }
    #get-app-form>h3{
        font-size: 11px;
        line-height: 16px;
    }
    #get-app-form>div{
        width: 90%;
        align-items: fill;
    }
    #country-codes, #mob-num{
        width: 25%;
        height: 25px;
        padding: 0;
        font-size: 9px;
    }
    #app-btn{
        font-size: 8px;
        height: 25px;
        width: 25%;
        padding: 0;
    }
    #app-info>ul>li, #scanner-code>p{
        font-size: 10px;
    }
    #row5-travel-tips>h1{
        font-size: 15px;
    }

}

@media all and (min-width:600px) and (max-width:900px){
    #footer{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap:20px;
        width:95%;
    }
}
@media all and (min-width:300px) and (max-width:600px){
    #footer{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:20px;
        width:95%;
        margin: auto;
    }
}
