body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* row1-flight searching container */

*{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

#Bg-bitch-img{
    background: white;
    background-repeat: no-repeat;
    background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/01/ORB_Storefront_6_imgB_1400x600_20211028.jpg?impolicy=fcrop&w=900&h=506&q=mediumHigh");
    max-width: 100%;
    height: 500px;
    background-size: 100% 500px;
    padding-top: 25px;
}
#search-box{
    background-color: #FFFFFF;
    height: 300px;
    width: 90%;
    margin: auto;
    box-shadow: 0px 1px 15px 1px #7a7a7a;
    padding-top:15px;
}
#travel-category{
    margin: auto;
    max-width: 92%;
    border-bottom: 0.1px solid #c0bcbc;
    text-align: center;
}
#travel-category>ul{
    margin: auto;
    margin-top: 10px;
    max-width: 50%;
    line-height: 30px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
#travel-category>ul>li{
    cursor: pointer;
}
#travel-category>ul>li>a{
    text-decoration: none;
    color: #616161;
    font-size: 14px;
    font-weight: 700;
}

form{
    margin: auto;
    max-width: 90%;
    height: 250px;
}
#input-section{
    margin-top: 25px;
    display: flex;
    color: #777575;
}
#select-Cont, .date, #travelers{
    margin: 7px;
    height: 55px;
    text-align: start;
    background-color: #FFFFFF;
    border: 1px solid #999999;
    cursor: pointer;
}
#select-Cont{
    min-width: 40%;
}
.date{
    width: 15%;
    display: flex;
    align-items: center;
    cursor: default;
}
.date>div, #travelers>div{
    line-height: 3px;
}
.date>div>input{
    border: none;
    margin-top: -10px;
    cursor: pointer;
}
.date>i, #travelers>i{
    width: 15%;
    margin-left: 8px;
}
.date>div>p, #travelers>div>p, #counters{
    font-size:small;
    letter-spacing: 0.5px;
}
#travelers{
    width: 23%;
    display: flex;
    align-items: center;
    padding-right: 25px;
    cursor: default;
}
#travelers>div>div, #counters>div{
    display: flex;
}
#counters>div{
    margin-top: 4px;
}
#counters{
    margin: 5px;
}
#counters>div>button{
    background-color: rgb(206, 231, 245);
    margin-right: 8px;
    cursor: pointer;
    font-size: 11px;
    margin-top: -2px;
    text-align: center;
    border: none;
    border-radius:6px;
    padding-bottom: -2px;
    height: 18px;
}

#counters>div>#c1, #counters>div>#c2{
    margin-right: 4px;
    vertical-align: middle;
    color:red;
    font-weight: 600;
}


/* checkbox section*/

#checkbox>input:last-child{
    margin-left: 20px;
}
#checkbox{
    margin-top: 10px;
}
#checkbox>input{
    cursor: pointer;
}

/* search button section*/
#search-btn{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

#search-btn>input{
    background-color: #C83259;
    color: #FFFFFF;
    border-radius: 2px;
    width: 15%;
    font-size: 16px;
    min-height: 45px;
    cursor: pointer;
    font-weight: 600;
    border: none;
}
#search-btn>input:hover{
    background-color: #cc5171;
}
/* ===============*/
/* Row-2 started */
#row2-start{
    margin-top: 3%;
    margin-bottom: 3%;
}
#row2-info{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1, auto);
    gap: 35px;
    margin: auto;
}
#row2-info>div, #offer-card>div{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#row2-info>div>a>img{
    width: 100%;
}

/* ======== */
/* row3 fetured offer*/

#row3-offers{
    margin-bottom: 3%;
}
#row3-offers>h2{
    color: #1F1F1F;
    padding: 0 12px;
    width: 90%;
    margin: auto;
    font-weight: bolder;
}
#offer-card{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,auto);
    gap: 30px;
    margin: auto;
}
#offer-card>.img-wrapp>img{
    width: 100%;
    object-fit: contain;
}
#offer-card>div{
    cursor: pointer;
    position: relative;
}
.text-wrapp{
    z-index: 100;
    bottom: 0;
    left: 8px;
    display: block;
    overflow: hidden;
    position: absolute;
    top: 100px;
    right: 0;
    outline: none;
    color: white;
    white-space: nowrap;
    width: 100%;
}
/* .text-wrapp>p{
    margin-top: -3px;
} */
/* ==========*/
/* row4 top deals*/
#row4-deals{
    width: 90%;
    display: grid;
    grid-template-columns: 74% 25%;
    grid-template-rows: repeat(1, auto);
    gap: 12px;
    margin: auto;
    margin-bottom: 3%;
}
#row4-deals>div{
    cursor: pointer;
}
#row4-deals>div>img{
    width: 100%;
    max-height: 240px;
    object-fit:cover;
}
.deal-text-wrapp{
    width: 100%;
    position: relative;
    margin-top: -10%;
    margin-left: 3%;
    color: #FFFFFF;
    opacity: 1;
    outline: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0px 1px 2px rgb(0 0 0 / 80%);
}
/* .deal-text-wrapp>p{
    margin-top: -5px;
} */
.deal-text-wrapp>h3, .deal-text-wrapp>p{
    outline-color: white;
    font-weight: 900;
}

#row4-help{
    margin-bottom: 3%;
}
#help-cart{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 12px;
    margin: auto;
}
#help-cart>div{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border: 1px solid #b1afaf;
    cursor: pointer;
}
#row4-help>h1, #row5-travel-tips>h1{
    color: #1F1F1F;
    padding: 0 12px;
    width: 90%;
    margin: auto;
    font-weight: bolder;
    margin-bottom: 18px;
}
#help-cart>div>div{
    display: flex;
    justify-content:space-between;
    padding: 5px;
}
#help-cart>div>p{
    /* margin-top: -3px; */
    font-size: small;
    margin-left: 5px;
    margin-bottom: 8px;
}
#help-cart>div>div>i{
    margin-top: 20px;
    margin-right: 15px;
}
/* =========*/
/* row5 Travelling Tips  */
#row5-travel-tips{
    margin-bottom: 6%;
}
#tips-card{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 250px);
    gap: 35px;
    margin: auto;
}
#tips-card>div:nth-child(1){
    background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/18/ORB_Blog_NationalParks_imgB_1199x399_20211117.jpg");
}
#tips-card>div:last-child{
    background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/18/ORB_Blog_RoadTrips_imgB_1199x399_20211117.jpg");
}
#tips-card>div{
    background: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    position: relative;
}
.tips-info{
    text-shadow: 0px 1px 2px rgb(0 0 0 / 80%);
    line-height: 30px;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: 15px;
    padding: 50px 12px 8px;
    color: #FFFFFF;
}
.tips-info>p{
    font-size: 16px;
}
.tips-info>button{
    border-color: #C7C7C7;
    border-radius: 2px;
    border-width: 1px;
    background-color: #FFFFFF;
    color: #007E8F;
    min-height: 36px;
    padding: 4px 16px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 9px;
    cursor: pointer;
    display: block;
    align-items: center;
    justify-content: center;
}
/* ========== */
/* row6 Trip add*/
#trip-add-zone{
    margin-top: 3%;
    width: 70%;
    height: 70px;
    margin: auto;
    display: block;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}
#trip-add-zone>img{
    width: 100%;
}
/* =========*/
/* row7 orbitz app scanner*/
#row6-app-scanner{
    width: 90%;
    display: grid;
    grid-template-columns: 35% 64%;
    grid-template-rows: repeat(1, 350px);
    margin: auto;
    margin-bottom: 3%;
    border: 1px solid #b9b5b5;
}
#row6-app-scanner>div{
    width: 90%;
}
#row6-app-scanner>div>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#app-box{
    display: flex;
}
#app-info>h2{
    color: #1F1F1F;
    font-size: 23px;
    font-weight: 700;
    line-height: 35px;
    margin-bottom: 4px;
    max-width: 90%;
}
#scanner-code{
    width: 30%;
}
#scanner-code>img{
    width: 100%;
    margin-top: 18px;
}
#scanner-code>p{
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-top: 8px;
}
#app-info>ul>li{
    color: #616161;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
}
#get-app-form>h3{
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}
#get-app-form>div{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#country-codes, #mob-num{
    padding: 13px 10px;
    cursor: pointer;
    color: #616161;
    border: 1px solid #616161;
}
#app-btn{
    background-color: #C83259;
    color: #FFFFFF;
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    border: none;
    padding: 14px 40px;
}
#get-app-form>p{
    font-size: 12px;
    color: #616161;
    margin-top: 8px;
}
/* =========*/
/* row8 Destination deals*/

#row8-dest-box{
    margin-top: 3%;
    margin-bottom: 5%;
}
#row8-dest-box>h1{
    color: #1F1F1F;
    padding: 0 12px;
    width: 90%;
    margin: auto;
    font-weight: bolder;
    margin-bottom: 6px;
}
#section-check{
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,48px);
    gap: 10px;
    margin: auto;
    color: #1F1F1F;
}
.select-btn>span{
    font-size: 18px;
    font-weight: 700;
}
.select-btn{
    height: 48px;
    background: #ffff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    padding: 0 20px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
}
.select-btn>i{
    font-size: 12px;
}