*{
    margin: 0px;
    padding: 0px;
   }
#navbar{
    width: 100%;
    height:auto;
    background-color: #00253C;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 20px;
}
#navbar_logo{
    width: 30%;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    
}
#navbar_options{
    width: 40%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 14px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
}
#sing_in_button{
    background-color: #00253C;
    color: #FFFFFF;
    border: 0px;
    font-weight: bold;
    font-size: 14px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
}
#navbar_select{
    width:auto;
    background-color: #00253C;
    border: 0px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif

}
#navbar:hover,#navbar_logo:hover,#navbar_options>div:hover,#sing_in_button:hover,#navbar_select:hover{
    cursor: pointer;
    color: turquoise;
}
