* {
  font-family: sans-serif;
}

#content {
  /* border: 1px solid pink; */
  width: 95%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

#filter {
  display: flex;
  width: 25%;
  border: 1px solid brown;
  height: 400px;
}

#hotel {
  /* border: 1px solid rebeccapurple; */
  width: 70%;
  height: auto;
  padding: 10px;
}
#hotel > div {
  display: flex;
  gap: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  margin-bottom: 15px;
}
img {
  width: 350px;
}

#hotel div > h3 + p {
  margin-top: -18px;
  color: grey;
}

#hotel div > h3 + p + p {
  /* margin-top: -18px; */
  color: grey;
  line-height: 1.5;
  width: 80%;
  /* padding: 10px 0px; */
}
#hotel div > .refund {
  color: rgb(4, 158, 4);
  width: 40%;
  font-size: 20px;
  margin-top: -5px;
}
#hotel div > .refund + div {
  display: flex;
  justify-content: space-between;
  margin-top: -20px;
}

#hotel div > .refund + div > p:nth-child(1) {
  /* text-align: end; */

  font-size: 19px;
  font-weight: bold;
}
#hotel div > .refund + div > p + p {
  padding: 0px 10px;
  font-size: 25px;
  font-weight: bold;
}
